.feature {
  padding: 1.2rem 2.4rem 2.4rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 8px 16px 32px rgb(0, 0, 0, 0.05);
  transition: all 0.4s;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.feature:hover {
  transform: translateY(-3%);
}

.feature img {
  width: 100%;
  max-height: 23rem;
  height: 50%;
}

.feature_description {
  font-family: "Work Sans", sans-serif;
}

.feature_btn {
  margin: 1.2rem auto 0;
  font-size: 1.6rem;
}

/* Below 900px */

@media (max-width: 56.25em) {
  .feature {
    width: 90%;
    gap: 1.8rem;
  }

  .feature:last-of-type {
    grid-column: 1/-1;
    width: 45%;
    margin: 0 auto;
  }
}

/* Below 700px */

@media (max-width: 44em) {
  .feature {
    width: 100%;
  }

  .feature:last-of-type {
    width: 50%;
  }
}

/* Below 600px */

@media (max-width: 37.5em) {
  .feature:last-of-type {
    grid-column: span 1;
    width: 80%;
  }

  .feature {
    margin: 0 auto;
    width: 80%;
  }
}

/* Below 544px */

@media (max-width: 34em) {
  .feature:last-of-type,
  .feature {
    width: 90%;
  }
}
