.description {
  font-family: "Work Sans", sans-serif;
}

.img_box {
  display: flex;
  justify-content: flex-end;
}

.img_box_2 {
  display: flex;
  justify-content: flex-start;
}

.img_box img,
.img_box_2 img {
  width: 90%;
  border-radius: 1rem;
}

.features_icon {
  background-color: #d0ebff;
  display: flex;
  width: fit-content;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

/* Below 800px */

@media (max-width: 50em) {
  .img_box img,
  .img_box_2 img {
    width: 100%;
  }
}

/* Below 600px */

@media (max-width: 37.5em) {
  .img_box img,
  .img_box_2 img {
    width: 90%;
  }

  .img_box,
  .img_box_2 {
    justify-content: center;
  }
}

/* Below 544px */

@media (max-width: 34em) {
  .img_box:nth-child(2) {
    grid-row: 1;
  }
  .img_box:nth-child(6) {
    grid-row: 5;
  }
}
