.featured_in {
  padding: 4.8rem 3.2rem;
}

.featured_in__title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 2.4rem;
}

.featured_in__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.2rem;
}
.featured_in__img img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
