.main_section {
  padding-top: 9.6rem;
}

.content {
  align-items: center;
  gap: 6.4rem;
  padding-bottom: 9.6rem;
  border-bottom: 2px solid #ddd;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text p {
  font-size: 2rem;
  font-family: "Work Sans";
  letter-spacing: -0.5px;
}

.img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.15);
}
