.main_section {
  padding-top: 9.6rem;
}

.content {
  align-items: center;
  gap: 6.4rem;
  padding-bottom: 9.6rem;
  border-bottom: 2px solid #ddd;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text p {
  font-size: 2rem;
  font-family: "Work Sans";
  letter-spacing: -0.5px;
}

.actions {
  display: flex;
  gap: 2.4rem;
}

.img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.15);
}

.sticky {
  padding-top: 19.2rem;
}

/* Below 1200px */

@media (max-width: 75em) {
  .content {
    gap: 4.8rem;
  }
}

/* Below 1000px */

@media (max-width: 62.5em) {
  .content {
    gap: 3.2rem;
  }
}

/* Below 900px */

@media (max-width: 56.25em) {
  .content {
    text-align: center;
    gap: 4.8rem;
    grid-template-columns: 1fr;
  }

  .actions {
    justify-content: center;
  }

  .img {
    width: 65%;
    margin: 0 auto;
  }
}

/* Below 700px */

@media (max-width: 43.75em) {
  .img {
    width: 80%;
    margin: 0 auto;
  }
}

/* Below 544px */

@media (max-width: 34em) {
  .main_section {
    padding-top: 6.4rem;
  }

  .img {
    width: 100%;
    margin: 0 auto;
  }

  .actions a {
    padding: 2.4rem;
  }
}

/* Below 420px */

@media (max-width: 26.25em) {
  .actions {
    flex-direction: column;
    margin: 0 auto;
  }
}
