:root {
  --color-main: #1864ab;
  --color-secondary: #1c7ed6;
  --color-heading: #444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  background-color: #f8f9fa;
  color: #333;
}

/* Reusable styles */

/* btn */

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-main);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.btn-nav {
  padding: 1.2rem 3.2rem;
  text-transform: uppercase;
  color: #fff !important;
}

.btn-secondary {
  color: #555;
  background-color: #fff;
  margin-left: 1.8rem;
}

.btn-secondary:hover {
  background-color: transparent;
}

/* Container */

.container {
  max-width: 130rem;
  padding: 0 6.4rem;
  margin: 0 auto;
}

/* Grid */

.grid {
  display: grid;
}

.grid-center-v {
  align-items: center;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

/* Icons */

.how_icon {
  color: var(--color-main);
  width: 4rem;
  height: 4rem;
}

.footer-icon {
  cursor: pointer;
  fill: #fff;
  width: 2.7rem;
  height: 2.7rem;
}

.footer-icon:hover {
  fill: var(--color-main);
}

/* Related to the sections */

.hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Heading */

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-heading);
}

h2 {
  font-size: 4.2rem;
  color: var(--color-heading);
  line-height: 1.2;
  margin-bottom: 9.6rem;
  letter-spacing: -0.7px;
}

h3 {
  font-size: 2.4rem;
  color: #555;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1.7rem;
  color: var(--color-main);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
